Angelo Lambertini - Weekly Assignment 1

### Problem 2.1.
Assuming that data mining techniques are to be used in the following cases, identify whether the task required is supervised or unsupervised learning.
* a. Deciding whether to issue a loan to an applicant based on demographic and financial data (with
reference to a database of similar data on prior customers).
* b. In an online bookstore, making recommendations to customers concerning additional items to
buy based on the buying patterns in prior transactions.
* c. Identifying a network data packet as dangerous (virus, hacker attack) based on comparison to
other packets whose threat status is known.
* d. Identifying segments of similar customers.
* e. Predicting whether a company will go bankrupt based on comparing its financial data to those
of similar bankrupt and nonbankrupt firms.
* f. Estimating the repair time required for an aircraft based on a trouble ticket.
* g. Automated sorting of mail by zip code scanning.
* h. Printing of custom discount coupons at the conclusion of a grocery store checkout based on
what you just bought and what others have bought previously.

a)	Supervised
b)	Unsupervised
c)	Supervised
d)	Unsupervised
e)	Supervised
f)	Supervised
g)	Supervised
h)	Unsupervised

### Problem 2.5.
Using the concept of overfitting, explain why when a model is fit to training data, zero error with those data is not necessarily good.

Seeing a result of 0 errors when a model is fit to training data is not necessarily good because having such result usually ends up in a problem of overfitting. The overfitting happens when the model which is being trained fits the training data so perfectly that it includes all the variation of the data, modeling also that part of variation that is only chance variation and does not give any help in understanding underlying patterns. An overfitting model will perfeclty describe our training data but will not be useful in working with new data and making predictions, which is usually the main purpose when developing a model.

### Problem 2.8
8. Normalize the data in Table 2.18, showing calculations.

In [10]:
# import pandas and numpy libraries
import numpy as np
import pandas as pd
# create a data frame
df = pd.DataFrame({
    'Age': [25,56,65,32,41,49],
    'Income ($)': [49000,156000,99000,192000,39000,57000]
})

In [12]:
print(df)

   Age  Income ($)
0   25       49000
1   56      156000
2   65       99000
3   32      192000
4   41       39000
5   49       57000

In [16]:
# import preprocessing 
# Normalizing a data frame in sci-kit learn
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler
# scikit-learn: 
scaler = StandardScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), 
                       index=df.index, columns=df.columns)
# the result of the transformation is a numpy array, we convert it into a dataframeprint(norm_df2)

In [17]:
print(norm_df)

        Age  Income ($)
0 -1.438597   -0.865431
1  0.829022    0.999021
2  1.487363    0.005808
3 -0.926554    1.626314
4 -0.268213   -1.039679
5  0.316979   -0.726033

### Problem 2.10.
Two models are applied to a dataset that has been partitioned. Model A is considerably more
accurate than model B on the training data, but slightly less accurate than model B on the validation
data. Which model are you more likely to consider for final deployment?

Model B is more likely to be considered for final deployment because it is more accurate on the validation data. The accuracy on the training data suggests that the model will be probably overfitting the training data but it will not likely be working effectively on new data and therefore it will be not useful to make reliable predictions.

### Problem 2.11.
The dataset ToyotaCorolla.csv contains data on used cars on sale during the late summer of 2004
in the Netherlands. It has 1436 records containing details on 38 attributes, including Price, Age,
Kilometers, HP, and other specifications.
We plan to analyze the data using various data mining techniques described in future chapters.
Prepare the data for use as follows:
* a. The dataset has two categorical attributes, Fuel Type and Color. Describe how you would
convert these to binary variables. Confirm this using pandas methods to transform categorical
data into dummies.
* b. Prepare the dataset (as factored into dummies) for data mining techniques of supervised
learning by creating partitions in Python. Select all the variables and use default values for the
random seed and partitioning percentages for training (50%), validation (30%), and test (20%)
sets. Describe the roles that these partitions will play in modeling.

Part a) To convert the two categorical variables into binary variables, we have to create the necessary dummy variables: having a list of n possible attibutes that a categorical variable can take, we will create n-1 new variables that will take a value of 1 or 0 to indicate the presence (1) or absence (0) of the attribute. This way we will be able to perform quantitative analyses on cathegorical data.

In [18]:
## Import required packages
%matplotlib inline
from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import statsmodels.formula.api as sm
import matplotlib.pylab as plt

from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

In [19]:
car_df = pd.read_csv('ToyotaCorolla.csv')

In [20]:
car_df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
# use drop_first=True to drop the first dummy variable
car_df = pd.get_dummies(car_df, drop_first=True)
car_df.columns
car_df.head(5)

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,13500,23,10,2002,46986,90,1,0,2000,...,0,0,1,0,0,0,0,0,0,0
1,2,13750,23,10,2002,72937,90,1,0,2000,...,0,0,0,0,0,0,1,0,0,0
2,3,13950,24,9,2002,41711,90,1,0,2000,...,0,0,1,0,0,0,0,0,0,0
3,4,14950,26,7,2002,48000,90,0,0,2000,...,0,1,0,0,0,0,0,0,0,0
4,5,13750,30,3,2002,38500,90,0,0,2000,...,0,1,0,0,0,0,0,0,0,0

In [25]:
print(car_df[['Fuel_Type_Petrol','Fuel_Type_Diesel']])

      Fuel_Type_Petrol  Fuel_Type_Diesel
0                    0                 1
1                    0                 1
2                    0                 1
3                    0                 1
4                    0                 1
...                ...               ...
1431                 1                 0
1432                 1                 0
1433                 1                 0
1434                 1                 0
1435                 1                 0

[1436 rows x 2 columns]

In [27]:
print(car_df.columns)

Index(['Id', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM', 'HP',
       'Met_Color', 'Automatic', 'CC',
       ...
       'Fuel_Type_Petrol', 'Color_Black', 'Color_Blue', 'Color_Green',
       'Color_Grey', 'Color_Red', 'Color_Silver', 'Color_Violet',
       'Color_White', 'Color_Yellow'],
      dtype='object', length=365)

In [39]:
print(car_df.columns[354:364])

Index(['Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Color_Black', 'Color_Blue',
       'Color_Green', 'Color_Grey', 'Color_Red', 'Color_Silver',
       'Color_Violet', 'Color_White'],
      dtype='object')

Part B) To prepare the dataset for supervised learning, we have to divide the data in 3 groups: training (50%), validation (30%), and test (20%). The training dataset will be the actual dataset that we will use to train the model, the model will be tuning its parameters learning from the data. The validation dataset is the part of the dataset that will be used to evaluate a given model, this evaluation is fequent and will be repeated different times to fine-tune the model parameters. The test dataset is the part of the data used to provide a final evaluation of the model's fit, it will used only one time at the end of the testing process and it is usually the dataset that is used to compare the performance of different models.

In [ ]:
train, validate, test = \ np.split(car_df.sample(frac=1, random_state=42),
                                   [int(.5*len(car_df)), ])

In [42]:
trainData, temp = train_test_split(car_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test : ', testData.shape)

Training :  (718, 365)
Validation :  (430, 365)
Test :  (288, 365)